/* Estilos para a barra de navegação */
nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: border-color 0.3s;
  }
  
  nav a:hover {
    border-color: #fff;
  }
  
  /* Estilos para a aba ativa */
  nav a.active {
    background-color: #fff;
    color: #333;
  }
  
  /* Estilos para o conteúdo da aba */
  .tab-content {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px;
    background-color: #f9f9f9;
  }
  